{% extends 'base.html.twig' %}

{% block title %}Ações Baratas{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('/app_index/css/custom.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="wrapper">
    <div class="body-overlay"></div>

    {# ---SideBar--- #}
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3><img src="{{ asset('/app_index/images/logo.png')}}" class="img-fluid"/><span>Ações Baratas</span></h3>
      </div>

      <ul class="list-unstyled components">
        
        {% if is_granted('ROLE_USER') %}
          {% if path == '/carteira' %}
            <li class="active">  
          {% else %}
            <li>
          {% endif %}
            <a href="#" class="dashboard"><i class="material-icons">account_balance_wallet</i><span>Carteira</span></a>
          </li>
        {% endif %}

        {% if is_granted('ROLE_USER') %}
          {% if path == '/lista/acoes/baratas' %}
          <li class="active">  
          {% else %}
          <li>
          {% endif %}
            <a href="{{ path('app_lista_acoes_baratas_index') }}"><i class="material-icons">list</i><span>Lista de Ações Baratas</span></a>
          </li>
        {% endif %}

        {% if is_granted('ROLE_USER') %}
          {% if path == '/lembretes' %}
          <li class="active">  
          {% else %}
          <li>
          {% endif %}
            <a href="#"><i class="material-icons">circle_notifications</i><span>Lembretes</span></a>
          </li>
        {% endif %}

        <li class="dropdown">
          <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="material-icons">settings</i><span>Configurações</span>
          </a>
          <ul class="collapse list-unstyled menu" id="homeSubmenu1">
            {% if is_granted('ROLE_USER') %}
            <li><a href="#">Perfil</a></li>
            <li><a href="{{ path ('app_acao_rejeitada_index') }}">Ações Rejeitadas</a></li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path ('app_acoes_index') }}">Ações</a></li>
            {% endif %}
          </ul>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
        <li class="">
          <a href="#"><i class="material-icons">timeline</i><span>Estatísticas</span></a>
        </li>
        {% endif %}
      </ul>

      <ul class="list-unstyled components sidebar-footer">
        <li class="">
          <a href="{{ path('login_logout') }}"><i class="material-icons">logout</i><span>Sair</span></a>
        </li>
      </ul>
    </nav>

    {# ---Page Content--- #}
    <div id="content">

      {# ---Top Navbar--- #}
      <div class="top-navbar">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <button type="button" id="sidebar-collapse" class="d-xl-block d-lg-block d-md-mone d-none">
              <span class="material-icons">arrow_back_ios</span>
            </button>
        
            <h4>{{ title|default('')}}</h4>
            <button class="d-inline-block d-lg-none ml-auto more-button" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="material-icons">more_vert</span>
            </button>

            <div class="collapse navbar-collapse d-lg-block d-xl-block d-sm-none d-md-none d-none" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">   
                <li class="dropdown nav-item active">
                  <a href="#" class="nav-link" data-toggle="dropdown">
                    <span class="material-icons">notifications</span>
                    <span class="notification">1</span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">You have 5 new messages</a>
                    </li>            
                  </ul>
                </li>

                <li class="dropdown nav-item">
                  <a href="#" class="nav-link" data-toggle="dropdown">
                    <span class="material-icons">person</span><span class="user">{{ user.name }}</span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ path('login_logout') }}">Sair</a>
                    </li>            
                  </ul>
                </li>

                {# <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span class="material-icons">settings</span>
                  </a>
                </li> #}
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="main-content">
        {% block page_contents %}{% endblock %}

        {# ---Footer Content--- #}

        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <nav class="d-flex">
                  <ul class="m-0 p-0">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Company</a></li>
                  </ul>
                </nav>
              </div>

              <div class="col-md-6">
                <p class="copyright d-flex justify-content-end">
                  &copy 2022
                  <a target="_blank" href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjsmZ65vpH3AhVSr5UCHWKJBkIQFnoECAYQAQ&url=https%3A%2F%2Fbr.linkedin.com%2Fin%2Ffernando-ferreira-tinelli-0bb0301aa&usg=AOvVaw3DJirhOcPVBeabeCKIpy4o">&nbsp; Tinelli</a>, Fernando
                </p>
              </div>

            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
{% endblock %}


{% block javascripts %}
  <script type="text/javascript">
    $().ready(() => {
      $("#sidebar-collapse").on('click', () => {
        $('#sidebar').toggleClass('active');
        $('#content').toggleClass('active');
      });

      $(".more-button, .body-overlay").on('click', () => {
        $('#sidebar, .body-overlay').toggleClass('show-nav');
      });
    });
  </script>
{% endblock %}