{% extends 'app/layout.html.twig' %}

{% block page_contents %}
    {# ---Main Content--- #}
    <div class="row" data-controller='estatisticas'>
        {% for label, messages in app.flashes(['success', 'danger', 'info']) %}
            {# read and display several types of flash messages #}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show ml-3 mr-3 mw-100" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
        
        <div class="col-12">
            <h4>Estatísticas</h4>
        </div>

        <div class="col-sm-6 col-12">
            <div class="card">
                <div class="card-header card-header-text">
                    <h4 class="card-title d-inline">Top 5 Ações Compradas no Mês</h4>
                </div>
                <div class="card-content">
                    <div style="width: 100%;">
                        <canvas id="graph1"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="card">
                <div class="card-header card-header-text">
                    <h4 class="card-title d-inline">Top 5 Ações Vendidades no Mês</h4>
                </div>
                <div class="card-content">
                    <div style="width: 100%;">
                        <canvas id="graph2"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="card">
                <div class="card-header card-header-text">
                    <h4 class="card-title d-inline">Total Compras Mês a Mês</h4>
                </div>
                <div class="card-content">
                    <div style="width: 100%;">
                        <canvas id="graph3"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="card">
                <div class="card-header card-header-text">
                    <h4 class="card-title d-inline">Total Vendas Mês a Mês</h4>
                </div>
                <div class="card-content">
                    <div style="width: 100%;">
                        <canvas id="graph4"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-text">
                    <h4 class="card-title d-inline">Top 5 Ações Mais Rejeitadas</h4>
                </div>
                <div class="card-content">
                    <div style="width: 100%;">
                        <canvas id="graph5"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script type="text/javascript">
        $().ready(() => {
            $("#sidebar-collapse").on('click', () => {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });

            $(".more-button, .body-overlay").on('click', () => {
                $('#sidebar, .body-overlay').toggleClass('show-nav');
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        graphCard1();
        graphCard2();
        graphCard3();
        graphCard4();

        function graphCard1() {
            const date = new Date();
            const month = date
                .toLocaleString("default", { month: "long" })
                .replace(/^\w/, c => c.toUpperCase());

            const data = [
                {% for transacao in graph1 %}
                    { acao: '{{ transacao.nome }}', total: {{ transacao.total}}},
                {% endfor %}
            ];

            new Chart(document.getElementById('graph1'), {
                type: 'bar',
                data: {
                    labels: data.map(row => row.acao),
                    datasets: [
                    {
                        label: `Compras em ${month}`,
                        data: data.map(row => row.total)
                    }
                    ]
                }
            });
        }

        function graphCard2() {
            const date = new Date();
            const month = date
                .toLocaleString("default", { month: "long" })
                .replace(/^\w/, c => c.toUpperCase());

            const data = [
                {% for transacao in graph2 %}
                    { acao: '{{ transacao.nome }}', total: {{ transacao.total}}},
                {% endfor %}
            ];

            new Chart(document.getElementById('graph2'), {
                type: 'bar',
                data: {
                    labels: data.map(row => row.acao),
                    datasets: [
                    {
                        label: `Vendas em ${month}`,
                        data: data.map(row => row.total)
                    }
                    ]
                }
            });
        }

        function graphCard3() {
            const date = new Date();
            const month = date
                .toLocaleString("default", { month: "long" })
                .replace(/^\w/, c => c.toUpperCase());

            const data = [
                {% for key,value in graph3 %}
                    { mes: '{{ (key + 1) }}', total: {{ value }}},
                {% endfor %}
            ];

            new Chart(document.getElementById('graph3'), {
                type: 'bar',
                data: {
                    labels: data.map(row => row.mes),
                    datasets: [
                    {
                        label: `Total Compras no Mês`,
                        data: data.map(row => row.total)
                    }
                    ]
                }
            });
        }

        function graphCard4() {
            const date = new Date();
            const month = date
                .toLocaleString("default", { month: "long" })
                .replace(/^\w/, c => c.toUpperCase());

            const data = [
                {% for key,value in graph4 %}
                    { mes: '{{ (key + 1) }}', total: {{ value }}},
                {% endfor %}
            ];

            new Chart(document.getElementById('graph4'), {
                type: 'bar',
                data: {
                    labels: data.map(row => row.mes),
                    datasets: [
                    {
                        label: `Total Vendas no Mês`,
                        data: data.map(row => row.total)
                    }
                    ]
                }
            });
        }
    </script>
{% endblock javascripts %}
