{% extends 'app/layout.html.twig' %}

{% block page_contents %}
    {# ---Main Content--- #}
    <div class="row">
        {% for label, messages in app.flashes(['success', 'danger', 'info']) %}
            {# read and display several types of flash messages #}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show ml-3 mr-3 mw-100" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-text">
                    <h4 class="card-title">Lista de Ações Baratas da Bolsa</h4>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="category">Total: {{ acoes|length }}</p>
                            <p class="category mt-0">Última Atualização: 15th December, 2016</p>
                        </div>
                    </div>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th>#</th>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Preço Unitário</th>
                                <th>Liquidez</th>
                                <th>Margem Ebit</th>
                                <th>Ev Ebit</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for acao in acoesShow %}
                                <tr>
                                    <td>{{ loop.index + offset }}</td>
                                    <td>{{ acao.codigo }}</td>
                                    <td>{{ acao.nome }}</td>
                                    <td>R$ {{ acao.preco|number_format(2, ',', '.') }}</td>
                                    <td>R$ {{ acao.liquidez|number_format(2, ',', '.') }}</td>
                                    <td>{{ acao.margemEbit|number_format(2, ',', '.') }}%</td>
                                    <td>{{ acao.evEbit|number_format(2, ',', '.') }}</td>
                                    <td>
                                        {% if stars[acao.id] is defined %}
                                            <a href="{{ path('app_starts_remove', {id: acao.id}) }}" data-toggle="tooltip" data-placement="left" title="Deixar de Seguir">
                                                <i class="material-icons">star_half</i>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('app_starts_create', {id: acao.id}) }}" data-toggle="tooltip" data-placement="left" title="Seguir">
                                                <i class="material-icons">star</i>
                                            </a>
                                        {% endif %}
                                        
                                        <a href="{{ path('app_acao_rejeitada_create', {id: acao.id}) }}" data-toggle="tooltip" data-placement="left" title="Rejeitar" >
                                            <i class="material-icons">thumb_down_off_alt</i>
                                        </a>
                                        <a href="https://www.investsite.com.br/principais_indicadores.php?cod_negociacao={{ acao.codigo }}" target="_blank" data-toggle="tooltip" data-placement="left" title="Mais detalhes" >
                                            <i class="material-icons">article</i>
                                        </a>
                                    </td>                                
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="text-center">
                        {% if previous >= 0 %}
                            <a id="previous" href="{{ path('app_lista_acoes_baratas_index', {offset: previous}) }}"><i class="material-icons">arrow_circle_left</i></a>
                        {% endif %}
                            
                        {% if next < acoes|length %}
                            <a id="next" href="{{ path('app_lista_acoes_baratas_index', {offset: next}) }}"><i class="material-icons">arrow_circle_right</i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
