{% extends 'app/layout.html.twig' %}

{% block page_contents %}
    {# ---Main Content--- #}
    <div class="row">
        {% for label, messages in app.flashes(['success', 'danger', 'info']) %}
            {# read and display several types of flash messages #}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show ml-3 mr-3 mw-100" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}

        <button id="btnModal" type="button" style="display:none;" class="btn btn-primary" data-toggle="modal" data-target="#adicionarTransacaoModal">
            Adicionar Transação
        </button>
        
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-text">
                    <h4 class="card-title">Transações de "{{ acao['nome'] }} ({{ acao['codigo'] }})"</h4>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th><input type="checkbox" name="" id="" class="checkbox"></th>
                                <th>Quantidade</th>
                                <th>Data</th>
                                <th>Tipo</th>
                                <th>Preço</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transacao in transacoes %}
                                <tr id="transacao{{ transacao.id }}">
                                    <td>
                                        <input type="checkbox" id="chk_" class="checkbox" value="">
                                    </td>
                                    <td>{{ transacao.quantidade }}</td>
                                    <td>{{ transacao.data | date("d/m/Y") }}</td>
                                    <td value="{{ transacao.tipo.id }}">{{ transacao.tipo.nome }}</td>
                                    <td>R$ {{ transacao.valor | number_format(2) }}</td>
                                    <td>
                                        <a href="#" data-toggle="tooltip" data-placement="left" title="Alterar" onclick="alterarTransacao({{ transacao.id }})">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="left" title="Deletar" >
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>                                
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- adicionarTransacaoModal -->
    <div class="modal fade" id="adicionarTransacaoModal" tabindex="-1" role="dialog" aria-labelledby="adicionarTransacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="adicionarTransacaoModalLabel">Adicionar Transação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frm" action="{{ path('app_cateira_transacao_create') }}" method="POST">
                        <div class="form-group">
                            <label for="acao">Ação</label>
                            <select name="_acao" id="acao" class="form-control" required="true" disabled>
                                <option value="{{ acao['id'] }}">{{ acao['codigo'] }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data">Data</label>
                            <input type="date" class="form-control" id="data" name="_data" required="true" value=>
                        </div>
                        <div class="form-group">
                            <label for="tipo">Tipo</label>
                            <select name="_tipo" id="tipo" class="form-control" required="true">
                                {% for tipo in tipos %}
                                    <option value="{{ tipo.id }}">{{ tipo.nome|capitalize }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="quantidade">Quantidade</label>
                            <input type="number" class="form-control" id="quantidade" name="_quantidade" placeholder="Quantidade" min="1" required="true">
                        </div>
                        <div class="form-group">
                            <label for="valor">Valor (R$)</label>
                            <input type="number" class="form-control" id="valor" name="_valor" placeholder="Valor" step="any" required="true">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" onclick="frm.submit()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function alterarTransacao(id) {
            document.querySelector('#btnModal').click();

            let transacao = document.querySelector('#transacao' + id); 

            let quantidade = transacao.children[1].innerText;
            let data = transacao.children[2].innerText;
            let tipo = transacao.children[3].attributes['value'].value;
            let valor = transacao.children[4].innerText;

            document.querySelector('#data').valueAsDate = new Date(data);            
            document.querySelector('#tipo').value = tipo;
            document.querySelector('#quantidade').value = quantidade;
            document.querySelector('#valor').value = parseFloat(valor.replace('R$', '').trim());
        }
    </script>
{% endblock javascripts %}
